<h3 class="ps-5 pt-5 text-secondary">{{data}}</h3>
<form class="p-3 ms-4" style="margin-top: 7%; width: 40%; background-color: rgba(14, 45, 118, 0.304); border-radius: 20px; margin-bottom: 8.8%;" action="">
    <h1 class="text-center text-info">SIGN IN</h1>
    <div class="p-2 mt-2">
        <label class="text-info" for="u1">ACCOUNT NUMBER</label>
        <input [(ngModel)]="uname" type="text" [placeholder]="placeHolderData" id="u1" name="uname" class="form-control">
    </div>
    <div class="p-2 mt-2">
        <label class="text-info" for="u2">PASSWORD</label>
        <input [(ngModel)]="psw" type="text" placeholder="Enter password" id="u2" name="psw" class="form-control">
    </div>
    <div class="p-2 mt-2 text-center">
        <button (click)="login()" class="btn btn-info">login</button>
    </div>
    <p class="text-center pt-2 text-white">Don't have a account? <a class="text-info" style="text-decoration: none;" href="">create account</a> </p>
</form>
